.Body {
  padding-top: 70px;
  height: auto;
  padding-bottom: 50px;
}

.AboutBody{
  padding-top: 70px;
}

body{
  background: #EEE !important;
}

.search .results {
  max-height: 300px;
  min-width: 565.15px;
  overflow-y: auto;
  text-align: left;
}

.ui.search {
  display: inline-block;
}

.ui.search input{
  border: none !important;
  border-radius: 0 !important;
  border-left: 3px solid rgba(34,36,38,.15) !important;
  width: 565.15px !important;
  height: 47.5px !important;
}

.ui.selection.dropdown{
  min-width: 0 !important;
  min-height: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: white;
  height: 42px !important;
}


.SearchBar{
  display: inline-block;
  border: 3px solid rgba(34,36,38,.15) !important;
  border-radius: .28571429rem !important;
  background: white;
  height: 53px !important;
}

.SearchBarContainer{
  width: 100%;
  text-align: center;
}

.ui.icon.input>i.icon{
  border-radius: 0 !important;
  background: rgba(34,36,38,.15) !important;
}

.Definition{
  white-space: pre-line;
  color: black !important;
}

.Entry{
  margin-top: 8px;
  margin-bottom: 8px;
}

.EntryList{
  margin-top: 50px;
}

h1, h2{
  text-align: center;
}

.ui.card>.content .star.icon:hover, .ui.cards>.card>.content .star.icon:hover{
  color: inherit !important;
}

.ChatBotLayout{
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.ChatBotHeaderContainer{
  background: #2185d0 !important;
}

.ChatBotHeader{
  color: white !important;
}

.ChatBotMessageContainer{
  height: 400px;
  overflow-y: auto;
}

.UserMessage{
  float: right;
  border-radius: 8px !important;
  word-wrap: break-word;
  word-break: break-word;
}

.UserMessageCol{
  padding: 0 !important;
}

.BotMessage{
  float: left;
  border-radius: 8px !important;
  word-wrap: break-word;
  word-break: break-word;
}

.BotAvatarCol{
  padding: 0 !important;
}

.SelectedChatBotLayoutButton{
  background: white !important;
}

.ChatBotLayoutButton{
}

.BotMessageCol{
  padding: 0 !important;
}

.MessageContainer{
  padding: 0 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
  display: inline-block;
  width: 100%;
}

.MessageList{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

@media screen and (max-width: 414px) {
  .ui.search input{
    border: none !important;
    border-radius: 0 !important;
    border-left: 3px solid rgba(34,36,38,.15) !important;
    width: 190.15px !important;
    font-size: 11px;
  }

  .ui.selection.dropdown{
    min-width: 0 !important;
    border: 0 !important;
    font-size: 11px;
    height: 37px !important;
  }

  .search .results {
    max-height: 100px;
    max-width: 190.15px !important;
    overflow-y: auto;
    text-align: left;
    font-size: 11px;
  }

  .Body{
    padding-top: 215px;
  }

  .AboutBody{
    padding-top: 215px;
  }
}
